.error-message {
  color: var(--warn-color);
  margin-top: 1rem;
  font-size: 0.9rem;
}

.success-icon {
  color: var(--accent-color);
}

.email-text {
  font-weight: bold;
  color: var(--primary-text);
}
