<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content>
  @if (isLoading && (users$ | async)?.length === 0) {
    <div class="loading-container">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  }

  @if ((users$ | async); as users) {
    <mat-list>
      @for (user of users; track user) {
        <mat-list-item>
          <img matListItemAvatar [src]="user.avatarUrl" alt="Avatar of {{ user.username }}" class="user-avatar">
          <div matListItemTitle>
            <a [routerLink]="['/user', user.username]" mat-dialog-close class="username-link">{{ user.username
            }}</a>
          </div>
        </mat-list-item>
      }
    </mat-list>
  }

  @if (hasMore && !isLoading) {
    <div class="load-more-container">
      <button mat-stroked-button (click)="loadUsers()">Load More</button>
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="primary">Close</button>
</mat-dialog-actions>