.username-link {
    color: var(--secondary-text);
    text-decoration: none;
}

.user-avatar {
    border-radius: 50%;
}

.load-more-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
