:host {
  display: block;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(5, 220px);
  justify-content: center;
  gap: 24px;
}

@media (max-width: 1244px) {
  .album-grid {
    grid-template-columns: repeat(4, 220px);
  }
}

@media (max-width: 1000px) {
  .album-grid {
    grid-template-columns: repeat(3, 220px);
  }
}

@media (max-width: 756px) {
  .album-grid {
    grid-template-columns: repeat(2, 220px);
    gap: 16px;
  }
}

@media (max-width: 500px) {
  .album-grid {
    grid-template-columns: 220px;
  }
}
