<footer class="footer">
  <div class="footer-content">
    <div class="footer-section about">
      <h2 class="footer-logo">SoundRate</h2>
      <p>
        A web site for reviewing and discovering new music.
        Project created for portfolio purposes.
      </p>
    </div>

    <div class="footer-section developer">
      <h3>Made by</h3>
      <ul>
        <li><a href="https://github.com/viniciusmcabral/sound-rate.git" target="_blank"><i
          class="fab fa-github"></i>Code on GitHub</a></li>
        <li><a href="#" target="_blank"><i class="fas fa-briefcase"></i> Portfolio</a></li>
        <li><a href="https://www.instagram.com/vinicabr4l/" target="_blank"><i
          class="fab fa-instagram"></i> Instagram</a></li>
        <li><a href="https://wa.me/5571999259526" target="_blank"><i
          class="fab fa-whatsapp"></i> WhatsApp</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <span>© 2025 SoundRate</span>
    <span>Data provided by Deezer API</span>
  </div>
</footer>
